.image{
    margin-top: 20px;
    display: block;
    margin: 0 auto; 
    border-radius: 8px;

}
.title{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #f7fafc;
    font-weight: 1000;
}
.info{
    color: #a0aec0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;

}